/* CSS declarations go here */
html, body {
    height: 100%;
}

#wrap > .container {
padding-top:50px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0px auto -60px;
}

#footer {
    background-color: #F5F5F5;
}

#push, #footer {
    height: 60px;
}

.container .credit {
    margin: 20px 0px;
}

.image img {
  max-width: 600px;
  max-height: 600px;
}

.column {
  width: 600px;
  text-align: justify;
  text-justify: inter-word;
}

.contactImg {
  max-width: 280px;
  max-height: 25px;
}

.galleryThumbnail {
  width: 180px;
  height: 180px;
}

#links{
  text-align: center;
}
